.single-product img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.single-product {
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 10px;
    width: 100%;


}

.btn-cart {
    background-color: tomato;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    color: white;
    font-weight: 700;
    padding: 0px 20px;

}

.btn-cart:hover {
    background-color: orange;
}