.author {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.information {
    background-color: rgb(224, 223, 223);
    padding: 20px;
}

.round-name {
    border-radius: 50%;
}

.restTime button {
    border-radius: 50%;
    color: green;
    font-weight: 700;
    margin: 0 5px;
}